wuseractionresults treechildren::-moz-tree-row(even){
	background-color: #ffffff;
}
wuseractionresults treechildren::-moz-tree-row(odd){
	background-color: #ebebeb;
}
wuseractionresults treechildren::-moz-tree-row(even, selected){
	background-color: #d0d0f0;
}
wuseractionresults treechildren::-moz-tree-row(odd, selected){
	background-color: #c0c0e0;
}
