<?xml version="1.0" encoding="UTF-8"?>
<config>
	<module>
		<enabled>true</enabled>
		<visible>true</visible>
		<icon>useractionlogger</icon>
		<usetopic>false</usetopic>
		<category>admin</category>
	</module>
	<project>
		<!-- Maximum days history of log entries (0 infinite) -->
		<entry name="maxDaysHistory">0</entry>
	</project>
</config>